<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WJG.Properties.Settings.testConnectionString" connectionString="Data Source=.;Initial Catalog=skcclocksystem;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="WJG.Properties.Settings.skcclocksystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=skcclocksystem;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
